################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/SpecFlow.1.9.0
/obj/Debug
/bin/Debug
/.vs/BerlinClock/v15
